* {
    margin: 0;
    padding: 0;
}

table.chessboard {
    width: 480px;
    height: 480px;
    border: none;
}

table.chessboard tr {
    
}

table.chessboard td {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
}

.field-black {
    background: #999;
}